<!-- <div fxLayout="row" fxLayoutAlign="center center" class="navbar">
    <div id="column" fxLayout="column" fxLayoutAlign="flex-start center">
        <h1>Jon's Store</h1>
        <div fxLayout="row" fxLayoutGap="12px">
            <a routerLink="/">Product List</a> <span>|</span>
            <a href="#">Cart</a>
        </div>
    </div>
</div> -->
<!-- <div><a href="#">login</a></div> -->

<div class="unavbar">
    <div class="element">
        <a *ngIf="loggedInUser.length == 0" href="#">login</a>
        <span *ngIf="loggedInUser"
            ><span style="font-style: italic">{{ loggedInUser }}</span> is signed in</span
        >
    </div>
    <div class="element" id="column">
        <h1>Jon's Store</h1>
        <div fxLayout="row" fxLayoutGap="12px">
            <a routerLink="/">Product List</a> <span>|</span>
            <a href="#">Cart</a>
        </div>
    </div>
    <div class="element">
        <a *ngIf="loggedInUser.length == 0" #lnkLogin routerLink="/login">login</a>
        <span *ngIf="loggedInUser"
            ><span style="font-style: italic">{{ loggedInUser }}</span> is signed in</span
        >
    </div>
</div>
