<div id="jg-cartcontainer" class="container">
    <div class="jg-cartcontent">
        <!-- <cart-item></cart-item> -->
        <!-- <ng-template #itemsContainer></ng-template> -->
        <ng-container #itemsContainer></ng-container>
        <div id="amount">
            Total:
            <span id="totalContent" #totalContent> {{ cartTotal | currency }}</span>
            <span #totalXtra id="totalXtra"></span>
        </div>
    </div>
    <div class="jg-cartcontent">
        <client-form
            [cartItemsCount]="cartItemsCount"
            (submitEvent)="onFormSubmit($event)"
        ></client-form>
    </div>
</div>
<!-- <button (click)="testBtn()">test me!</button> -->
