#test {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: green;
}

#jg-cartcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jg-cartcontent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
