<div fxLayout="row" fxLayoutAlign="center center" class="navbar">
    <div id="column" fxLayout="column" fxLayoutAlign="flex-start center">
        <h1>Jon's e-commerce Store</h1>
        <!-- <div><a href="#">Product List</a> | <a href="#">Cart</a></div> -->
        <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center"> -->
        <div fxLayout="row" fxLayoutGap="12px">
            <a routerLink="/">Product List</a> <span>|</span>
            <a href="#">Cart</a>
        </div>
    </div>
</div>
