.product-container {
    margin-top: 45px;
    /* position: relative; */
}

.product-item {
    /* margin-top: 64px; */
    margin-bottom: 64px;
}

/* modal stuff  */

#jgmodal-window {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    transition: opacity 500ms;
}

#jgmodal-window.hide {
    opacity: 0 !important;
}

#jgmodal-window.remove {
    z-index: -1;
}

#jgmodal-window.showContent .jgmodal-content {
    color: initial !important;
}

.jgmodal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Noto Sans Mono", monospace;
    color: rgba(0, 0, 0, 0);
    transition: color 500ms;
}

.jgmodal-body {
    width: 100%;
    height: 10rem;
}

/* end of modal stuff */
